<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  
  <style>
    table,tr,th,td
    {
      border: 2px solid black;
      border-collapse: collapse;
      padding: 10px;
    }
  </style>

</head>
<body>
  <center>
    
    <h1>Displaying Topic Table</h1>

    <table>
      <tr><th>topic_name</th></tr>
      {% for to in Topic %}
          <tr><td>{{ to.topic_name }}</td></tr>
      {% endfor %}
    </table>
  </center>
</body>
</html>